APP_NAME=goforge
APP_VERSION=1.0.0
APP_MODULE=
APP_DEBUG=true
APP_KEY= # Generate via `goforge app gen:key`
APP_HOST=127.0.0.1
APP_PORT=3000

GRPC_ENABLE=true
GRPC_REFLECTION=true
GRPC_HOST=127.0.0.1
GRPC_PORT=50051

RATE_LIMIT_PER_MINUTE=10

ENCRYPTION_KEY=
ENCRPTION_ROUNDS=12
ENCRYPTION_SALT=

# Options: sqlite, mysql, postgres, sqlserver
DB_CONNECTION=sqlite
DB_NAME=forge.db
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
# DB_DEV_NAME=forge_dev
DB_MIGRATOR=atlas # gorm | atlas

CACHE_ENABLED=true
CACHE_DRIVER=memory   # memory | redis (future)
CACHE_TTL=5m
CACHE_MAX_ITEMS=10000
CACHE_MAX_COST=100MB

LOG_TYPE=terminal
LOG_LEVEL=info
LOG_PATH=storage/logs/app.log
LOG_FORMAT=log # json | yaml | log
